html.blob-slide body {
    background: #c0504d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #c0504d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#c0504d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #c0504d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #c0504d 0%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #c0504d 0%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #c0504d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0504d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}